*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../mitchell-luo-oLw9R4GxGug-unsplash.jpg);
    font-family: 'Urbanist', sans-serif;
}
#lista-studenti{
    background-color: rgb(140, 190, 190);
    margin: auto;
    margin-top: 60px;
    width: 600px;
    height: 600px;
    text-align: center;
    
}
h1{
    padding-top: 30px;
    
}

li{
    list-style: none;
    line-height: 35px;
    font-size: 20px;
}
ul{
    margin-top: 50px;
}